@import "../lib/blueprintjs/styles/blueprintjs";
@import "../lib/layout/flexbox/styles/flexbox";
@import "../lib/font/styles/font";

@import "../lib/layout/styles/spacing";

@import "~@blueprintjs/core/lib/scss/variables";

* {
  margin: 0;

  font-family: 'JetBrainsMono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $dark-gray1;
}